.header {
    background: #000;
}

.header__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    padding: 0 15px;
    /* max-width: 1230px; */
}

.header__logo-img {
    height: 30px;
    width: auto;
}
