.is-empty {
    width: 48px;
    height: 48px;
    background-color: #e5e5e5;
    border-radius: 50%;
}

.item-detail {
    display: flex;
    justify-content: space-around;
    width: 90%;
    /* max-width: 1280px; */
    margin: 9vh auto;
}

.item-detail__img {
    width: 40%;
    height: auto;
    margin-top: 2vh;
    margin-left: 2vw;
}

.item-detail__item-img {
    width: 100%;
    border-radius: 5px;
}

.item-detail__content {
    width: 40%;
    /* margin-top: 5vh; */
    margin-right: 2vw;
}

.item-detail__main-title {
    margin: 0 auto;
}

.item-detail__brand-name {
    margin: 0 auto;

}

.item-detail__price {
    margin: 10 auto;
    font-size: 32px;
    margin: 15px auto;
}

.item-detail__price::before {
    content: '￥';
    font-size: 18px;
    font-weight: 500;
}

.item-detail__price::after {
    content: '（税込）';
    font-size: 18px;
}

.item-detail__reaction {
    display: flex;
    align-items: center;
}

.item-detail__likes-btn,
.item-detail__comment-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 25px;
    font: inherit;
}

.item-detail__likes-btn {
    background: #ffffff;
    border: none;
    cursor: pointer;
}

.item-detail__likes-img,
.item-detail__comment-img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.item-detail__likes-count,
.item-detail__comment-count {
    margin: 5px 0 0 0;
    font-size: 16px;
    font-weight: bold;
}

.item-detail__checkout-link {
    display: block;
    background: #ff5555;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 0;
    margin-top: 10px;
}

.item-detail__description {
    white-space: pre-wrap;
}

.item-detail__category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.item-detail__sub-title {
    font-size: 16px;
    margin-right: 0 20px 0 0;
}

.item-detail__category-content {
    display: flex;
    justify-content: space-around;
}

.item-detail__category-name {
    background: #d9d9d9;
    /* width: 50%; */
    border-radius: 100vw;
    /* text-align: center; */
    font-size: 14px;
    margin-left: 20px;
    /* margin-bottom: 20px; */
    padding: 2px 15px;
    white-space: nowrap;
}

.item-detail__condition {
    display: flex;
}

.item-detail__condition-label {
    margin-left: 20px;
}

.item-detail__section-title--comment {
    color: #5f5f5f;
}

.item-detail__comment {
    margin: 30px auto;
}

.item-detail__comment-user {
    display: flex;
    align-items: center;
    width: 100%;
}

.item-detail__user-img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}

.item-detail__comment-name {
    margin-left: 20px;
    font-weight: bold;
}

.item--detail__comment-body {
    background: #e5e5e5;
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    white-space: pre-wrap;
    border-radius: 3px;
}

.item-detail__comment-form {
    display: flex;
    flex-direction: column;
    
}

.item-detail__comment-textarea {
    width: 100%;
    height: 20vh;
    border-radius: 3px;
    font-size: 14px;
    padding: 10px;
}

.item-detail__error-message {
    color: red;
}

.item-detail__comment-btn {
    width: 100%;
    background: #ff5555;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin: 30px 0;
    padding: 7px 0;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}



