.profile {
    max-width: 1280px;
    margin: 0 auto;
}

.profile__top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8vh;
}

.profile__user {
    display: flex;
    align-items: center;
}

.profile__user-img {
    width: 10vw;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 3vw 0 5vw;
}

.profile__user-name {
    margin: 0 3vw;
}

.profile__edit-link {
    display: inline-block;
    padding: 8px 28px;
    margin: 0 5vw 0 3vw;
    background: #fff;
    color: #ff5555;
    cursor: pointer;
    border-radius: 8px;
    border: #ff5555 solid 2px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.item-list__page {
    display: flex;
    align-items: flex-end;
    height: 10vh;
    border-bottom: 1px solid #000000;
    margin-top: 3vh;
}

.item-list__page-link {
    margin-left: 5vw;
    margin-bottom: 5px;
}

.profile-list__page-sell,
.profile-list__page-buy {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #5f5f5f;
    margin-left: 50px;
}

.active {
    color: red;
}

.item-list__content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.item-list__grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    justify-content: flex-start;
    margin-top: 6vh;
}

.item-list__item {
    width: calc(25% - 4vw);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh 2vw;
}

@media screen and (max-width: 850px) {
    .item-list__item {
        flex: 0 0 calc(33.333% - 4vw);
        max-width: calc(33.333% - 4vw);
    }
}

.item-list__item-img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
}

.item-list__item-name {
    display: inline-block;
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    color: #000;
}

.item-list__item-sold {
    color: #000;
    font-weight: bold;
    font-size: 18px;
}