.is-empty {
    width: 10vw;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
    background-color: #e5e5e5;
}

.profile-form__group-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10%;
}

.profile-form__preview {
    width: 10vw;
}

.profile-form__preview-img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

.profile-form__select-img {
    margin-left: 8%;
    align-items: center;
}

.profile-form__select-btn {
    display: inline-block;
    padding: 6px 16px;
    width: 100%;
    background: #fff;
    color: #ff5555;
    cursor: pointer;
    border-radius: 8px;
    border: #ff5555 solid 2px;
    font-weight: bold;
    white-space: nowrap;
}

.profile-form {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.profile-form__heading {
    margin-bottom: 40px;
}

.profile-form__form {
    display: inline-block;
    text-align: left;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

@media (min-width: 1400px) {
    .profile-form__form {
        max-width: 550px;
    }
}

@media (max-width: 850px) {
    .profile-form__form {
        max-width: 350px;
    }
}

.profile-form__group {
    margin-bottom: 20px;
}

.profile-form__label {
    display: block;
    font-weight: bold;
}

.profile-form__input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
}

.profile-form__button {
    width: 100%;
    background-color: #ff5555;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 60px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.profile-form__error-message {
    color: red;
}