


.form__btn--item {
    display: inline-block;
    padding: 8px 16px;
    background: #fff;
    color: #ff5555;
    cursor: pointer;
    border-radius: 4px;
    border: #ff5555 solid 2px;
    font-weight: bold;
}