.sell-form {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    margin: 5vh auto 10vh;
}

.main-title {
    font-size: 28px;
    margin-bottom: 5vh;
}

.sell-form__form {
    text-align: left;
    width: 50vw;
    margin: 0 auto;
}
.sell-form__label {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
}

.sell-form__select-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #5f5f5f;
    height: 15vh;
    width: 100%;
    margin: 0;
    border-radius: 3px;
    
}

.sell-form__select-btn {
    /* display: inline-block; */
    padding: 6px 16px;
    /* width: 30%; */
    background: #fff;
    color: #ff5555;
    cursor: pointer;
    border-radius: 8px;
    border: #ff5555 solid 2px;
    font-weight: bold;
    white-space: nowrap;
}

.section-title {
    font-size: 24px;
    color: #5f5f5f;
    border-bottom: 1px solid #5f5f5f;
    padding-bottom: 1vh;
    margin: 6vh 0 3vh 0;
}

.sell-form__category {
    margin: 1.5vh 0 5vh 0;
}

/* デフォルトのチェックボックスを隠す */
.sell-form__category-input {
    display: none;
}

/* ラベル全体の見た目（塗りつぶされる前の状態） */
.sell-form__category-name {
    display: inline-block;
    padding: 1px 13px;
    margin: 1.5vh 0.6vw;
    color: #ff5655;
    border: 2px solid #ff5655;
    cursor: pointer;
    border-radius: 100vw;
    /* transition: 0.3s; */
    font-size: 13px;
}

/* チェックが入った時の「塗りつぶし」指定 */
.sell-form__category-input:checked+span {
    background-color: #ff5655;
    color: white;
    border: 2px solid #ff5655;
}

.sell-form__condition:has(option[value=""]:checked) {
    color: #5f5f5f;
    background: #ffffff;
    font-weight: bold;
}

.sell-form__condition {
    width: 100%;
    height: 35px;
    border-radius: 3px;
}

.sell-form__condition-option {
    color: #ffffff;
    background: #636769;
}

.sell-form__input,
.sell-form__input-price {
    width: 100%;
    height: 35px;
    margin-bottom: 1vh;
    border-radius: 3px;
    border: 1px solid #4f4f4f;
    font-size: 14px;
    padding: 0 10px;
}

.sell-form__input-price {
    padding-left: 25px;
}

.sell-form__input-yen {
    position: relative;
    display: inline-block;
}

.sell-form__input-yen::before {
    content: "¥";
    position: absolute;
    left: 10px;
    /* 左からの位置 */
    top: 50%;
    /* 縦中央へ */
    transform: translateY(-75%);
    color: #000;
    /* マークの色 */
    pointer-events: none;
    /* マークをクリックしてもinputが反応するようにする */
    font-size: 14px;
    font-weight: bold;
}

.sell-form__textarea {
    width: 100%;
    height: 15vh;
    resize: none;
    border-radius: 3px;
    border: 1px solid #4f4f4f;
    font-size: 14px;
    padding: 10px;
}

.sell-form__btn {
    width: 100%;
    background-color: #ff5555;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 60px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.sell-form__error-message {
    color: red;
}