.verify-email__form {
    margin: 0 auto;
    text-align: center;
    margin-top: 20vh;
}

.verify-email__message {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.verify-email__action {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: 0 auto;
}

.verify-email__link {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    border: 1px solid #4f4f4f;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    background: #d9d9d9;
    margin: 5vh 0;
}

.verify-email__btn {
    color: #0073cc;
    background: #ffffff;
    border: none;
    font-size: 14px;
}